{% extends "padrao.html" %} 
{% block conteudo %}
  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">Musica</th>
        <th scope="col">cantor / grupo / banda</th>
        <th scope="col">Genero</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for music in musicas %}
      <tr>
        <td>{{music.nome_musica}}</td>
        <td>{{music.cantor_banda}}</td>
        <td>{{music.genero_musica}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
